div.tooltip {
    position: absolute;
    text-align: center;
    padding: .2rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}


.background {
    background-attachment: fixed;
    background-color: #E9E9E9;
}


/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#mapid {
    height: 400px;
}

.leaflet-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: auto;
}
h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px; 
    text-align: center;
    color: #0F0909;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #F3F3F3;
    border-radius: 6px;
}
.Vélib
{
    float: left;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: #F6FAFA; */
    color: black; 
   background: url("vel.jpg");
    background-color: black; 
    background-image: url("vel.jpg");    
    background-attachment: fixed;    
    color: white;    
    font-family: 'oxaniumlight';    
    margin: 0;    
    background-size: cover;    
    background-repeat: no-repeat;    
    background-position: center;
}
figure
{
    text-align: center;
}
.card-perso {    
    text-align: center;
    max-width: 700px; 
    max-height: 100px;
    border-radius: 6px;
    margin-left: 300px;

}
.card-perso2 {
   width: 200px; 
   height: 200px;
    border-radius: 6px;
    background-color: #F3F3F3;
    padding: 50px 50px 50px 50px;
}
.row{
    margin-top: 150px;
}